<div class="container text-center">
   <div class="row">
      <div class="col">
         <!-- Data da Reserva -->
         <input type="date" name="data">
         

         <!-- Periodos -->
         <select name="periodo" >
         <option selected>Selecione o Periodo</option>
         {% for periodo in periodos %}
            <option value="{{periodo.id}}">{{periodo.nome_periodo}}</option>
         {% endfor %}
         </select>
         

         <!-- Laboratórios -->
         <select  name="nome_lab" id="">
            <option selected>Selecione o Laboratório</option>
            {% for lab in laboratorios %}
               <option value="{{lab.id}}">{{lab.nome}}</option>
            {% endfor %}
         </select>
         

         <!-- Nome Professor -->
         <input type="text" name='nome_professor' placeholder="Nome do professor" list='lista_professores'>
         <datalist id='lista_professores'>
               {% for professor in professores %}
                  <option value="{{professor.nome}}"></option>
               {% endfor %}
         </datalist>
         <br>

      </div>
   </div>
</div>
