{% extends 'base.html' %}

{% block content %}


    <h4 class="card-title" id='requerido'>{{mensagem}}</h4>
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card-body">
                <form action="{% url 'consulta:ensalamento_labs' %}" method="POST"> {% csrf_token %}
                    <h4 class="card-title">Consulta por Bloco</h4>
                    <h4 class='card-title '>Selecione a data</h4>
                    <input type="date" name="data">

                    <select name="bloco" >
                        <option Selected>Selecione o Bloco</option>
                        {% for bloco in blocos %}
                            <option value="{{bloco.id_bloco}}">{{bloco.bloco}}</option>
                        {% endfor %}
                    </select>
                    <button type='submit' class='btn btn-primary btn-block'>Consultar</button>
                </form>  
            </div>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card-body">

                <form action="{% url "consulta:ensalamento_labs_nome" %}" method='POST'> {% csrf_token %}
                    <h4 class="card-title">Consulta por nome do professor</h4>
                    <h4 class="card-tittle" >Digite o nome do professor</h4>
                    <input type="text" name='nome_professor'>
                    <h4 class='card-title '>Selecione a data</h4>
                    <input type="date" name="data">
                    <button type='submit' class='btn btn-primary btn-block'>Consultar</button>
                 
                </form>
            </div>
        </div>
    </div>
        
        
        
{% endblock content %}