{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="">

                <form action="{% url 'reservas:registrar_reserva' %}" method="POST"> {% csrf_token %}

                    <h3 name="bloco">Bloco {{bloco.nome}}</h3>
                    <h3 name="data">Data {{data}}</h3>

                    <h3>Laboratórios Reservados</h3>
                    {% if labs_reservados %}
                        {% for item in labs_reservados %}
                        <h4 class='' >{{item}}</h4>
                        {% endfor %}
                    {% endif %}
            
                    <h3>Laboratórios disponíves</h3> 
                    {% if labs_disponiveis %}
                        {% for lab in labs_disponiveis.values %}
                        <h4>{{lab}}</h4>
                        {% endfor %}
                    {% endif %}

                </form>

            </div>
        </div>
    </div>


 

{% endblock content %}