{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="">

                <form action="{% url 'reservas:registrar_reserva' %}" method="POST"> {% csrf_token %}
                    <h3 class='' name="bloco">Bloco {{bloco.bloco}}</h3>
                    <h3 class='' name="data">Data {{data}}</h3>

            
                    <h3 class='' >Laboratórios Reservados</h3>
                    {% if labs_reservados %}
                        {% for item in labs_reservados %}
                        <h4 class='' >{{item}}</h4>
                        {% endfor %}
                    {% endif %}
            
            
                    <h3 class='' >Laboratórios disponíves</h3> 
                    {% if labs_disponiveis %}
                        {% for lab in labs_disponiveis.values %}
                        <h4 class='card-title' > {{lab}} </h4>
                        {% endfor %}

                        <a href="{% url "reservas:reservar_laboratorio" %} " class='btn btn-primary btn-block'>Reservar</a>
                    {% endif %}

                </form>

            </div>
        </div>
    </div>


 

{% endblock content %}