{% extends "base.html" %}

{% block content %}

    <h2>{{ mensagem }}</h2>

    <form action="{% url "reservas:reservar_laboratorio_p2" %}" method='POST'> {% csrf_token %}
        
        <h4 class="card-title">{{bloco}}</h4>
        <h4 class="card-title">{{data}}</h4>
        <h4 class="card-title">{{periodo}}</h4>

        <h4>Selecione o Laboratório</h4>
        <select name="nome_lab" id="selecao_labs">
            <option value=""></option>
            {% for i in labs_disponiveis %}
                <option value="{{i}}">{{i}}</option>
            {% endfor %}
        </select>
      

  
        <input type="submit" value='Reservar'>
    </form>

{% endblock content %}