{% extends "base.html" %}

{% block content %}

    <h2>{{ mensagem }}</h2>

    <form action="{% url "reservas:reservar_laboratorio" %}" method='POST'> {% csrf_token %}
        
        <h4>Selecione a data</h4>
        <input type="date" name="data">
    
        <h4>Selecione o bloco</h4>
        <select name="bloco" id="">
            <option value=""></option>
            {% for i in blocos %}
                <option value="{{i}}">{{i}}</option>
            {% endfor %}
        </select>

        <h4>Selecione o periodo</h4>
        <select name="periodo" id="">
            <option value=""></option>
            {% for i in periodos %}
                <option value="{{i}}">{{i}}</option>
            {% endfor %}
        </select>
        
        <h4>Selecione o Laboratório</h4>
        <select name="nome_lab" id="selecao_labs">
            <option value=""></option>
            {% for i in labs %}
            <option value="{{i}}">{{i}}</option>
            {% endfor %}
        </select>
        
        <h4>Informe o nome do professor</h4>
        <input type="text" name='nome_professor'>
        <br>
        
        <input type="submit" value='Reservar'>
    </form>

{% endblock content %}